{% extends "base.html" %}
{% block head_content %}
    <title>Login</title>
{% endblock %}

{% block container %}
    <div class="row">
        {% if error %}
            <p style="color:red;"> {{ error }} </p>
        {% endif %}
        <form action="{% url "login" %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" id="" placeholder="username">
            <input type="password" name="password" id="" placeholder="password">
            <button type="submit">Sign in!</button>
        </form>
    </div>
{% endblock  %}
